body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

#site_wrapper {
    height:100vh;
    display: grid;
    grid-template-columns: 10px repeat(6, minmax(0,250px)) 10px;
    grid-gap:0px;
    grid-template-rows: 200px 852px 500px 500px 500px 500px 250px;

    grid-template-areas: 
     "header header header header header header header header"
     "Image1 Image1 Image1 Image1 Image1 Image1 Image1 Image1"
     ". MapTxT MapTxT MapTxT Map Map Map ."
     ". Content2 Content2 Content2 Content21 Content21 Content21 ."
     ". Content3 Content3 Content3 Content31 Content31 Content31 ."
      ". Content4 Content4 Content4 Content41 Content41 Content41 ."
     "Footer1 Footer1 Footer1 Footer2 Footer2 Footer3 Footer3 Footer3"
     ;

}


.Main_header{
    background-color:#E2DDDD;
    grid-area:header;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.Main_header .logo{
    width:300px;
    height:150px;
    margin-left: 50px;
   
}
.Main_header .nav{
    list-style-type: none;
    padding: 0;
    display: flex;
    font-size:30px;
    font-weight: bold;
}
.Main_header .nav a{
    text-decoration: none;
    color:#615c62;
    text-align: bottom;
    padding: 15px 30px;
    margin: 0 8px; 
    text-transform: uppercase;

}
.Main_header .nav a:hover, .Main_header .nav .active{
    background-color: #E2DDDD;
    color:white;
}

.Main_Image{
    background-image: url('Images/Gi0OMNguFaw.jpg');
    grid-area:Image1;
    background-size: cover;
}


.Map_TxT{
    padding: 2em 2em;
    grid-area:MapTxT;
    
}
.btn1{

    text-decoration: none;
    border:2px solid #B86b77;
    border-radius:50em;
    padding:15px 30px;
    margin:0 8px;
    text-transform: uppercase;
    font-weight:bold;
    color:white;
    background-color:#b86b77;
    margin-left: 27.5%;
    width:70%;
    text-align: center;

}
.btn1:hover{
    border:2px solid #B86b77;
    color:#B86b77;
    background-color:rgba(184, 107, 119, 0.025);
}


.Map_Image{
    padding: 2em 2em;
    grid-area:Map;
   
}



.Content_section2{
    background-color: rgba(184, 107, 119, 0.05);
    grid-area:Content2;
    margin-top: 2em;
}

.btn2{

    text-decoration: none;
    border:2px solid #B86b77;
    border-radius:50em;
    padding:15px 30px;
    margin:0 8px;
    text-transform: uppercase;
    font-weight:bold;
    color:white;
    background-color:#b86b77;
    margin-left: 27.5%;
    width:70%;
    text-align: center;

}
.btn2:hover{
    border:2px solid #B86b77;
    color:#B86b77;
    background-color:rgba(184, 107, 119, 0.025);
}


.Content_section21{
    background-color: rgba(184, 107, 119, 0.05);
    grid-area:Content21;
    margin-top: 2em;
}




.Content_section3{
    background-color: rgba(184, 107, 119, 0.05);
    grid-area:Content3;
    margin-top: 2em;
}

.btn3{

    text-decoration: none;
    border:2px solid #B86b77;
    border-radius:50em;
    padding:15px 30px;
    margin:0 8px;
    text-transform: uppercase;
    font-weight:bold;
    color:white;
    background-color:#b86b77;
    margin-left: 27.5%;
    width:70%;
    text-align: center;

}
.btn3:hover{
    border:2px solid #B86b77;
    color:#B86b77;
    background-color:rgba(184, 107, 119, 0.025);
}

.Content_section31{
    background-color: rgba(184, 107, 119, 0.05);
    grid-area:Content31;
     margin-top: 2em;
}


.Content_section4{
    background-color: rgba(184, 107, 119, 0.05);
    grid-area:Content4;
    margin-top: 2em;
}

.btn4{

    text-decoration: none;
    border:2px solid #B86b77;
    border-radius:50em;
    padding:15px 30px;
    margin:0 8px;
    text-transform: uppercase;
    font-weight:bold;
    color:white;
    background-color:#b86b77;
    margin-left: 27.5%;
    width:70%;
    text-align: center;

}
.btn4:hover{
    border:2px solid #B86b77;
    color:#B86b77;
    background-color:rgba(184, 107, 119, 0.025);
}

.Content_section41{
    background-color: rgba(184, 107, 119, 0.05);
    grid-area:Content41;
    margin-top: 2em;
}

.Main_Footer1{
    grid-area:Footer1;
    margin-top: 2em;
    background-color:#E2DDDD;
}

.Main_Footer1 .logo_footer{
    width:300px;
    height:150px;
    margin-left: 70px;
    padding: 30px;
   
   
}



.Main_Footer2{
    grid-area:Footer2;
    margin-top: 2em;
   background-color:#E2DDDD;
}



.Main_Footer3{
    margin-top: 2em;
    background-color:#E2DDDD;
    grid-area:Footer3;
}

.Main_Footer3 a{
   font-size: 40px;
   float: right;
   
}

.fa {
    text-decoration: none;
   
  }
  
.fa:hover {
      opacity: 0.7;
  }


.fa-facebook {
    color:#615c62;

  }

  .fa-twitter {
    color:#615c62;

  }

  .fa-instagram {
    color:#615c62;
  }
